In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'A' : [5,6,3,4], 'B' : [1,2,3, 5], 'C' : [1,2,3, 5], 'D' : [1,2,3, 5]})

In [6]:
df

   A  B  C  D
0  5  1  1  1
1  6  2  2  2
2  3  3  3  3
3  4  5  5  5

In [8]:
df[['A','D']]

   A  D
0  5  1
1  6  2
2  3  3
3  4  5

In [11]:
listo = ['A', 'D', 'X']
df[[x for x in listo if x in df.columns] ]

   A  D
0  5  1
1  6  2
2  3  3
3  4  5